<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Topbar</title>
    <link rel="stylesheet" href="/shared/styles/topBar.css" />
  </head>

  <body>
    <div class="topbar">
      <div class="topbar-left">
        <span class="topbar-rotating">
          <span class="topbar-slide active"
            >📍 Dirección:José Clemente Orozco 10093-suite4A, Zona Urbana
            Tijuana, 22020 Tijuana, B.C.</span
          >

          <span class="topbar-slide">
            ⏰ Horarios: Lunes a Viernes, 9am - 6pm __ Sábados, 10am - 3pm
          </span>

          <span class="topbar-slide"> 💪 Hoy comienza tu nuevo yo </span>
        </span>
      </div>

      <div class="topbar-social">
        <!-- Instagram -->
        <a
          href="https://www.instagram.com/nutriologocarloszepeda/"
          target="_blank"
          class="topbar-icon"
          aria-label="Instagram"
        >
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />
            <circle cx="12" cy="12" r="4" />
            <circle
              cx="17.5"
              cy="6.5"
              r="1"
              fill="currentColor"
              stroke="none"
            />
          </svg>
        </a>

        <!-- mail -->
        <a
          href="mailto:nuticarloszep1@gmail.com"
          target="_blank"
          class="topbar-icon"
          aria-label="LinkedIn"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <rect x="2" y="4" width="20" height="16" rx="2" />
            <polyline points="2,4 12,13 22,4" />
          </svg>
        </a>

        <!-- Facebook -->
        <a
          href="https://www.facebook.com/nutriologocarloszepeda/"
          target="_blank"
          class="topbar-icon"
          aria-label="Facebook"
        >
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
            />
          </svg>
        </a>
      </div>
    </div>

    <script src="topbar.js"></script>
  </body>
</html>
